menu "USB WebCam config"

    config CAMERA_XCLK_FREQ
        int "XCLK frequency"
        range 1000000 40000000
        default 20000000
        help
            Select XCLK frequency.

    config CAMERA_MODULE_DFR1154
        bool "DFRobot DFR1154 (ESP32-S3 AI Camera — OV3660)"
        default y
        depends on IDF_TARGET_ESP32S3

endmenu
